*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

main {
    padding: 50px 20px;
}

.slider {
    max-width: 70vw;
    margin: 0 auto;
}

.item {
    height: 30vw;

}

.item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.item.active {
    display: block;
}